<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ngx-extended-pdf-viewer src="assets/pdfs/teste_2.pdf" height="65vh" (pagesLoaded)="paginasCarregadas($event)"></ngx-extended-pdf-viewer>
    <ion-item>
      Data de criação:
      {{ documento.dataCriacao | date:'HH:mm - dd/MM/yyyy' }}
    </ion-item>
    <ion-item>ID: {{ documento.id }}</ion-item>
    <ion-item>Nome: {{ documento.nome }}</ion-item>
    <ion-item>Criador: {{ documento.criador }}</ion-item>
    <ion-item>Data de criação: {{ documento.dataCriacao }}</ion-item>
  </ion-list>
</ion-content>